:root {
  --properties-panel-width: 240px;
}

div[class^="properties_panel--drillDownContainer"] {
  width: var(--properties-panel-width) !important;
}
div[class^="properties_panel--scrollContainer"] {
  width: 100% !important;
}
div[class^="properties_panel"] div[class^="draggable_modal--positionedContainer"] {
  width: calc(var(--properties-panel-width) - 18px) !important;
  right: 8px !important;
  left: auto !important;
}

.property_panel--edge {
  cursor: ew-resize;
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
}